<app-navbar></app-navbar>
<section>
  <header>
    <div id="intro-example" class="p-5 text-center bg-image mb-3">

      <div class="mask">
        <div class="text-white">
          <h1 class="mb-3">Bienvenue à ma Santé Rapide</h1>
          <h5 class="mb-4">Votre hopital le plus proche</h5>
        </div>
      </div>
    </div>
  </header>
  <section>
    <h2 class="text-center">PRESENTATION</h2>
    <div id="presentation" class="container">
      <div class="row">
        <div class="col-md-6 gx-5">
          <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
            <img
              src="https://thumbs.dreamstime.com/b/lit-de-m%C3%A9decins-hospital-corridor-nurse-pushing-gurney-stretcher-32154012.jpg"
              class="img-fluid" />
          </div>
        </div>
        <div class="col-md-6 gx-5">
          <h4><strong>L'objectif principal</strong></h4>
          <p class="text-muted">
            Ma Sante Rapide, vous permet de retrouver un medecin specialiste disponible dans un hopital le plus proche de chez soit et qui peut les soigner en fonction de leur mal
          </p>
        </div>
      </div>
    </div>
  </section>