<app-navbar></app-navbar>
<section>
    <div class="container">
        <h4 class="text-center text-uppercase">Contactez-nous ici</h4><br>
      <form>
        <!-- Name input -->
        <div class="form-outline mb-4">
          <input type="text" id="form4Example1" class="form-control" />
          <label class="form-label" for="form4Example1">Nom utilisateur</label>
        </div>
      
        <!-- Email input -->
        <div class="form-outline mb-4 ">
          <input type="email" id="form4Example2" class="form-control" />
          <label class="form-label" for="form4Example2">Addresse Email</label>
        </div>
      
        <!-- Message input -->
        <div class="form-outline mb-4">
          <textarea class="form-control" id="form4Example3" rows="4"></textarea>
          <label class="form-label" for="form4Example3">Message</label>
        </div>
        <!-- Submit button -->
        <button type="submit" class="btn btn-primary btn-block mb-4">Envoyer</button>
      </form>
    </div>
</section>
