<app-navbar></app-navbar>
<nav class="navbar navbar-light bg-light flex-column align-items-stretch p-3">
  <div class="container-fluid d-flex justify-content-center">
    <a class="navbar-brand"></a>
  </div>
</nav>
<div class="bg-image" style="
  background-image: url('https://cdn-s-www.lejsl.com/images/B68D17D8-BA69-4261-9284-A12BFE7D5DC9/MF_contenu/le-retour-du-covid-place-l-hopital-dans-une-situation-tres-inquietante-1657303322.jpg');
   background-repeat: no-repeat;
  height: 100vh; background-size: cover;">

  <div class="container-fluid d-flex align-items-center justify-content-center text-center h-100">
    <div class="text-white">
      <h1 class="mb-3">Besoin de medecin</h1>
      <h5 class="mb-4">Ne chercher plus loin Ma Sante Rapide est proche de vous</h5>

      <form [formGroup]="globalform" (ngSubmit)="onSubmit()">
        <select class="select form-control me-2" formControlName="specialite">
          <option value="">specialites</option>
          <option *ngFor="let specialite of listspecialite" value="{{ specialite.id }}"> {{ specialite.nom }} </option>
        </select><br>
        <button class="btn btn-success btn-lg m-2 w-100-p" type="submit">Search</button><br>
      </form>

    </div>
  </div>
</div><br>

<div class="container">
  <app-presentation></app-presentation>
</div>



 