<div class="container wrapper wrapper2">
    <div class="row">
        <!-- Form -->
        <div class="col-md-12">
            <h3>Add Communes</h3>
            <!-- <form [formGroup]="updatecommuneForm" (ngSubmit)="submitForm()" novalidate> -->
                <div class="form-group">
                    <label>communes</label>
                    <input type="text" formControlName="nom" class="form-control" maxlength="20">
                </div>
                
                <button type="submit" class="btn btn-primary" >Update</button>
            <!-- </form> -->
        </div>
    </div>
</div>
