#intro {
    background-image: url(https://thumbs.dreamstime.com/b/construction-d-h-pital-59693686.jpg);
    height: 100vh;
  }

  /* Height for devices larger than 576px */
  @media (min-width: 992px) {
    #intro {
      margin-top: -58.59px;
    }
  }

  .navbar .nav-link {
    color: #fff !important;
  }
  .gradient-custom-4 {
    /* fallback for old browsers */
    background: #0dac77;
  }